<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitfourdesktop.group10_teacherspal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Scores"
            android:parentActivityName="com.example.fitfourdesktop.group10_teacherspal.MainActivity"
            android:label="@string/scoreList">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.fitfourdesktop.group10_teacherspal.MainActivity" />
        </activity>

        <activity android:name=".VoiceChanger"
            android:parentActivityName="com.example.fitfourdesktop.group10_teacherspal.Games"
            android:label="@string/voiceChanger">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fitfourdesktop.group10_teacherspal.Games" />
        </activity>

        <activity android:name=".Profile"
            android:parentActivityName="com.example.fitfourdesktop.group10_teacherspal.MainActivity"
            android:label="@string/profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fitfourdesktop.group10_teacherspal.MainActivity" />
        </activity>

        <activity android:name=".Games"
            android:parentActivityName="com.example.fitfourdesktop.group10_teacherspal.MainActivity"
            android:label="@string/gameMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fitfourdesktop.group10_teacherspal.MainActivity" />
        </activity>

        <activity android:name=".Memory"
            android:parentActivityName="com.example.fitfourdesktop.group10_teacherspal.Games"
            android:label="@string/Memory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fitfourdesktop.group10_teacherspal.Games" />
        </activity>

        <activity android:name=".Puzzle"
            android:parentActivityName="com.example.fitfourdesktop.group10_teacherspal.Games"
            android:label="@string/Puzzle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fitfourdesktop.group10_teacherspal.Games" />
        </activity>

    </application>

</manifest>